<!DOCTYPE html>
<html>
<head>
    <title>DHCPv6 Web Simulator</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</head>
<body>
    <h1>Connected Clients</h1>
    <ul id="clients">
        {% for client in clients %}
            <li>{{ client }}</li>
        {% endfor %}
    </ul>
    
    <h1>Chat</h1>
    <input id="message" autocomplete="off"><button onclick="sendMessage()">Send</button>
    <ul id="messages"></ul>
</body>
</html>